a:hover, a:focus {
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid $link-hover-color;
}

.radio, .radio-inline {
  input[type='radio'] {
    margin-top: 6px;
  }
}

.checkbox, .checkbox-inline {
  input[type='checkbox'] {
    margin-top: 6px;
  }
}

.popover {
  z-index: 999999999;
}

.label, .badge {
  font-size: 75%;
}

label {
  display: block;

  &.inline {
    display: inline-block;
  }
}
