@mixin theme-footer($list) {
  #footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    position: absolute;
    color: get($list, footer, color);
    background: get($list, footer, bg);
    margin-top: $line-height-computed - 10;
  }
}
